@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<address>
    <strong>ExecuteAutomation</strong><br />
    <a href="mailto:info@executeautomation.com">info@executeautomation.com</a>
</address>
<p>
    Visit <a href="http://executeautomation.com" target="_blank">executeautomation.com</a> for tutorials on
    Selenium, Specflow, Playwright, Appium, and more.
</p>
